---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LibraryIcons from "../components/icons/LibraryIcons.astro";
import Educacion from "../components/Educacion.astro";
---

<Layout title="Portafolio de Geovani - Desarrollador y Programador Web">
  <main class="px-4">
    <SectionContainer id="inicio" class="py-44 pb-32">
      <img
        class="rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 size-[100px] mb-5"
        src="/Davidformal.webp"
        alt="davidgeovani photol"
      />
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, Soy David Geovani
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] pb-4 text-yellow-200"
      >
        Desarrollador Web. <span class="text-red-200"
          >De Michoacán, México.</span
        >
        <span class="text-sky-200"
          >Me apasiona crear sitios web que sean atractivos y fáciles de usar</span
        >
      </h2>
      <h3 class="text-xl">
        “La programación es una forma de arte, pero no es pintar cuadros. Es
        crear un universo.” - Derek Parfit
      </h3>
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <section class="my-24">
        <h1 class="text-3xl font-semibold mb-8">Sobre Mi</h1>
        <h2 class="text-xl">
          Hace tiempo me empezo a gustarme la Tecnologia y la Programación. Me
          encanta la idea de que la pregramación es una forma de arte que me
          permite expresar mi creatividad y resolver problemas complejos al
          mismo tiempo. Estoy emocionado de seguir aprendiendo y creciendo en
          este campo, y estoy ansioso por ver lo que el futuro de la tecnología
          nos depara.
        </h2>
      </section>

      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <LibraryIcons class="size-7" />
        Educación
      </h2>
      <Educacion />
    </SectionContainer>
  </main>
</Layout>
