---
import CodeIcons from "./CodeIcons.astro";
import ModoIcons from "./ModoIcons.astro";
---

<header class="flex justify-between items-center py-3 w-[1000px]">
  <CodeIcons />

  <nav class="flex flex-row gap-x-10">
    <a href="/sobre-mi">Sobre Mí</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/contacto">Contacto</a>
  </nav>

  <button>
    <ModoIcons />
  </button>
</header>
